# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [8]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [14]:
weather_export_path = "WeatherPy_outputs/city_weather_df.csv"
weather_export = pd.read_csv(weather_export_path)
# weather_export
weather_export_nonull = weather_export.dropna()
# weather_export_nonull.head()
#deleting unnamed column
del weather_export_nonull["Unnamed: 0"]
weather_export_nonull.head()

,City,Lat,Long,Max Temp,Humidity,Cloudiness,Wind speed,Country,Date
0,bluff,-46.60,168.33,67.262,72.0,100.0,1.34,NZ,1.608246e+09
2,avarua,-21.21,-159.78,84.470,79.0,100.0,4.10,CK,1.608246e+09
4,mount isa,-20.73,139.50,88.070,55.0,92.0,3.60,AU,1.608246e+09
5,benguela,-12.58,13.41,72.536,75.0,71.0,1.22,AO,1.608246e+09
6,port elizabeth,-33.92,25.57,66.470,93.0,90.0,1.50,ZA,1.608246e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [15]:
weather_export_nonull.columns

Index(['City', 'Lat', 'Long', 'Max Temp', 'Humidity', 'Cloudiness',
       'Wind speed', 'Country', 'Date'],
      dtype='object')

In [16]:
gmaps.configure(api_key=g_key)

#locations
locations = weather_export_nonull[["Lat","Long"]]

#weight
humidity = weather_export_nonull["Humidity"].astype(float)

In [19]:
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations,weights=humidity,dissipating=False,max_intensity=100,point_radius=2)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [20]:
weather_export_nonull.columns

Index(['City', 'Lat', 'Long', 'Max Temp', 'Humidity', 'Cloudiness',
       'Wind speed', 'Country', 'Date'],
      dtype='object')

In [23]:
#I want a vacation with lots of sun, no higher than 85 degrees but no less than 60 and low humidity.
#starting with my no null data set, I'm going to start filtering down the data to get to what I want

vacay_lowcloud = weather_export_nonull[weather_export_nonull["Cloudiness"] == 0]
vacay_above60 = vacay_lowcloud[vacay_lowcloud["Max Temp"] > 60]
vacay_below85 = vacay_above60[vacay_above60["Max Temp"] < 85]
perfect_vacay = vacay_below85[vacay_below85["Humidity"] < 60]
# perfect_vacay

#need to reset the index and remove the extra index column
index_perfect_vacay = perfect_vacay.reset_index()
# index_perfect_vacay
del index_perfect_vacay["index"]
index_perfect_vacay

,City,Lat,Long,Max Temp,Humidity,Cloudiness,Wind speed,Country,Date
0,podor,16.65,-14.96,79.070,26.0,0.0,2.10,MR,1.608246e+09
1,taoudenni,22.68,-3.98,66.902,27.0,0.0,4.12,ML,1.608246e+09
2,geraldton,-28.77,114.60,77.270,38.0,0.0,6.20,AU,1.608246e+09
3,naliya,23.27,68.83,61.034,33.0,0.0,4.92,IN,1.608246e+09
4,ratnagiri,16.98,73.30,76.676,58.0,0.0,2.27,IN,1.608246e+09
5,atar,20.52,-13.05,64.886,39.0,0.0,4.56,MR,1.608246e+09
6,adrar,20.50,-10.07,63.068,37.0,0.0,4.79,MR,1.608246e+09

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
#empty list for hotels
hotels = []

#begin the loop

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure